<!DOCTYPE html>
<html>
<head>
	<title>API testing</title>
</head>
<body style="background-color:yellow">
	<h1>API Testing: Type in console to test</h1>
	<h3>Commands available</h3>
	<ol>
		<li>RPC Execute <br>syntax: rpc_execute("model","method",{arg1:val1,arg2:val2}
			<br>Example: <ul>
				<li>rpc_execute("invoice","read",{})</li>
				<li>rpc_execute("invoice","read",{ids:[1,2]})</li>
			</ul></li>
		<li>Command 2</li>
	</ol>
<script type="text/javascript" src="static/main.js"></script>
</body>
</html>